<html>

<head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Search Results </h1>
        <hr>
        {%  for alumni in Alumnus %} 
    
         <h1>Name {{ alumni.userid.first_name }} {{ alumni.userid.last_name }}</h1>
         <h2>Contact Number {{ alumni.contactnumber }}</h2>
         <h2>Email Id {{ alumni.email }}</h2>
         <h2>Branch {{ alumni.branch }}</h2>
         <h2>Pass Out of {{ alumni.passoutyear }}</h2>    
         <hr>
    {% endfor %}
</div>
</body>
</html>